<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
</head>
<body>
    <main>
        <div class ="main container">
            <h1>welcome to <br>
            <strong>Bookers !!</strong></h1>
        </div>
    </main>
    <footer>
        <div class = "footer container">
        <p>CopyRight Infratop.inc</p>
        </div>
    </footer>
</body>
</html>